.navbar{
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    gap: 50px;
    background-color: cornflowerblue;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 50px;
    li {
        cursor: pointer;
        font-size: large;
    }
}